body
{
    margin: 0;
    padding: 0;
    font-family: "Brush Script MT", Arial, sans-serif;
    font-size: 18px;
    overflow: hidden;
}

  html { 
    background: url(bg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* 
##############################
Dealer Deck
##############################
*/


.dealer-hand-show {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.card-deck {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-show {
    background-color: #ffffff;
    height: 200px;
    width: 125px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    box-shadow: 5px 5px 3px;
}

.card-hidden {
    background-color: #460008;
    height: 200px;
    width: 125px;
    margin: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 2px;
    box-shadow: 5px 5px 3px;
}

/* 
##############################
Start Game Control Button..etc
##############################
*/

.begin-game {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

/* 
##############################
Player Deck
##############################
*/

.player-hand-show {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;   
}

.player-controls {
    margin: auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

/* 
##############################
Player Control Buttons
##############################
*/

.control-btn-hit {
    height: 50px;
    width: 180px;
    color: cornsilk;
    background-color: #237901;
    border-radius: 2px;
    border: 3px solid #B89E4B;
    box-shadow: 5px 5px 3px black;
}

.control-btn-stand {
    height: 50px;
    width: 180px;
    background-color: #750DD2;
    color: cornsilk;
    border-radius: 2px;
    border: 3px solid #B89E4B;
    box-shadow: 5px 5px 3px black;
}

.control-btn-double {
    height: 50px;
    width: 180px;
    background-color: #1F1611;
    color: cornsilk;
    border-radius: 2px;
    border: 3px solid #B89E4B;
    box-shadow: 5px 5px 3px black;
}

.control-btn-split {
    height: 50px;
    width: 180px;
    background-color: #460008;
    color: cornsilk;
    border-radius: 2px;
    border: 3px solid #B89E4B;
    box-shadow: 5px 5px 3px black;
}

.start-control-btn {
    height: 50px;
    width: 180px;
    color: black;
    background-color: #FF69B4;
    border-radius: 2px;
    border: 3px solid #FF69B4;
    box-shadow: 5px 5px 3px black;
}

/* 
##############################
Player Betting Buttons
##############################
*/

.control-btn-25 {
    height: 75px;
    width: 75px;
    background-color: #12894D;
    color: black;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
}

.control-btn-50 {
    height: 75px;
    width: 75px;
    background-color: #E6C146;
    color: black;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
}

.control-btn-75 {
    height: 75px;
    width: 75px;
    background-color: #1D2E77;
    color: black;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
}

.control-btn-100 {
    height: 75px;
    width: 75px;
    background-color: #FF69B4;
    color: black;
    border-radius: 50%;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
}


.control-btn-bet {
    height: 50px;
    width: 180px;
    background-color: #AB2727;
    color: cornsilk;
    border-radius: 2px;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
    margin-left: 10px;
}

.balance-amount {
    width: 180px;
    height: 50px;
    background-color: black;
    color: cornsilk;
    border-radius: 2px;
    border: 3px solid #ffffff;
    box-shadow: 5px 5px 3px black;
    margin-right: 10px;
}

/* 
##############################
Button decorations
##############################
*/

.button {
    transition-duration: 0.4s;
    cursor: pointer;
    transition: transform .2s;
}

.button:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}


.disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }